<!-- <div class="modal-header">
  <div class="modal-title">查看 {{ record.name }} 信息</div>
</div> -->
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<sv-container *ngIf="i" layout="horizontal" col="1">
  <sv-title>{{ record.name }}</sv-title>
  <sv label="名称">{{ i.name }}</sv>
  <sv label="CEO">{{i.legalPerson}}</sv>
  <sv label="身份证">{{i.idcard}}</sv>
  <sv label="联系方式" type="success">{{i.phone}}</sv>
  <sv label="邮箱">{{i.email}}</sv>
  <sv label="地址">{{area}}{{i.address}}</sv>
  <sv label="简介">
    <simplemde
               [ngModel]="i.briefing"></simplemde>
  </sv>
  <sv-container *ngFor="let item of i.shareholder" layout="horizontal" col="4">
    <sv label="姓名">{{item.name}}</sv>
    <sv label="身份证">{{item.idcard}}</sv>
    <sv label="比例" type="success">{{item.proportion}}%</sv>
    <sv label="金额" type="danger">￥{{item.payMoney}}</sv>
  </sv-container>
</sv-container>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
