<div class="modal-header">
  <div class="modal-title">查看 {{ record.id }} 信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div sv-container *ngIf="i" col="1" layout="horizontal">
  <sv label="姓名">{{ i.name }}</sv>
  <sv label="登录名">{{i.loginName}}</sv>
  <sv label="身份证">{{i.idcard}}</sv>
  <sv label="联系方式">{{i.phone}}</sv>
  <sv label="公司">{{i.dep.company.name}}</sv>
  <sv label="部门">{{i.dep.depName}}</sv>
  <sv label="角色">
    <nz-tag nzColor="magenta" *ngFor="let item of i.empRole">
      {{item.role.name}}
    </nz-tag>
  </sv>
  <sv label="图片">
    <nz-avatar nzIcon="anticon anticon-user" [nzSize]="128" (click)="showImg(basic.serverUrl+i.img)" nzShape="square"
               [nzSrc]="basic.serverUrl+i.img">
    </nz-avatar>
  </sv>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
