<page-header>

</page-header>
<button nz-button nzType="primary" (click)="save()">查看内容</button>
<button nz-button nzType="primary" (click)="add('circle')">添加圆</button>
<button nz-button nzType="primary" (click)="add('rect')">添加矩形</button>
<button nz-button nzType="primary" (click)="add('ellipse')">添加椭圆</button>
<button nz-button nzType="primary" (click)="add('diamond')">添加菱形</button>
<button nz-button nzType="primary" (click)="add('star')">添加五角星</button>
<button nz-button nzType="primary" (click)="default()">默认</button>
<button nz-button nzType="primary" (click)="addFlow()">编辑流程</button>
<div id="mountNode" style="background-color: #fff;">

</div>
<div id="Title" style="background-color: #fff;">

</div>



