<page-header [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzAutoGenerate]="true" nzSeparator="/">
    </nz-breadcrumb>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" button="none" (formSubmit)="st.reset($event)">
    <button nz-button (click)="st.reset($event)" nzType="primary"><i nz-icon
         nzType='anticon anticon-search'></i>
    </button>
    <button (click)="add()" nz-button nzType="primary">
      <i nz-icon nzType='anticon anticon-folder-add'></i> 添加
    </button>
  </sf>
  <st #st [data]="url" [req]="req" [columns]="columns">
    <ng-template st-row="customTitle" type="title" let-c>
      {{ c.title.text }}
    </ng-template>
    <ng-template st-row="custom" let-item let-index="index">
      <nz-avatar nzIcon="anticon anticon-user" (click)="showImg(basic.serverUrl+item.img)"
                 [nzSrc]="basic.serverUrl+item.img"></nz-avatar>
    </ng-template>
  </st>
</nz-card>
