<div class="modal-header">
  <div class="modal-title">{{ record.name }} 历史记录 </div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div *ngIf="i" style="min-width: 100px;">
  <nz-timeline nzMode="left" nzPending=" " nzReverse="true">
    <nz-timeline-item nzColor="red" *ngFor="let log of i.companyLog;let ind= index">
      {{log.updateTime | date:'yyyy-MM-dd'}}
      <div *ngFor="let row of log.content.split(';')">{{row}}</div>
    </nz-timeline-item>
  </nz-timeline>

  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
  </div>
